.sidebar_{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(100px);
-webkit-backdrop-filter: blur(100px);
}
.input_:hover{

    background-color: rgb(31, 41, 55);
    
}